{% extends "base.html" %}

{% block title %}FoodFetch :: Profile{% endblock %}

{% block name %}
<h2>Welcome {{ user.username }}!!!</h2>
{% endblock %}

{% block search %}
<input class = "form-control" id = "search" type = "search" size = "15" placeholder = "Search by Product" value = "{{ search }}" required>
{% endblock %}

{% block button %}
<button class = "btn btn-outline-light" onclick = "tosearch(0)" type = "submit">Submit</button>
{% endblock %}

{% block n1 %}
<a class = "btn btn-outline-light" href = "/{{ user.userid }}/read_product">Home</a>
{% endblock %}

{% block n2 %}
    <a class = "btn btn-outline-light" href = "/{{ user.userid }}/category">Category</a>
{% endblock %}

{% block n3 %}
{% if user.isadmin == 0 %}
    <a class = "btn btn-outline-light" href = "/{{ user.userid }}/cart">Cart</a>
{% endif %}
{% endblock %}

{% block l %}
<a class = "btn btn-danger" href = "/logout">Logout</a>
{% endblock %}

{% block body %}
{% if user.cart %}
<div class = "p-4">
    {% for car in user.cart %}
    {% if car.buy == 1 %}
    <div class = "p-4" style = "border-style: solid; border-width: 3px;">
        <a class = "text-primary h1" style = "text-decoration: none;" href = "/{{ user.userid }}/product/{{ car.product_.productid }}">{{ car.product_.productname | upper}}</a><br>
        <a class = "text-muted" href = "/{{ user.userid }}/category/{{ car.product_.categoryid }}/product">{{ car.product_.category_.categoryname }}</a><br><br>
        <p><b>Quantity:</b> {{ car.quantity }} {{ car.product_.unit }}.</p>
        <p><b>Price:</b> {{ car.product_.price }} / {{ car.product_.unit }}</p>
        <p><b>Total Price:</b> {{ car.product_.price * car.quantity }}</p>
        {% if car.buy == 0 %}
        <a class = "btn btn-outline-dark" href = "/{{ user.userid }}/update_cart/{{ car.product_.productid }}">Update</a>&nbsp;&nbsp;&nbsp;
        <a class = "btn btn-outline-danger" href = "/{{ user.userid }}/delete_cart/{{ car.cartid }}">Delete</a>&nbsp;&nbsp;&nbsp;
        <a class = "btn btn-outline-success" href = "/{{ user.userid }}/purchase/{{ car.cartid }}">Buy</a>
        {% else %}
            <p class = "h4 text-success">Your order is being Processed!!!</p>
        {% endif %}
    </div><br>
    {% elif user.cart | length == 1 %}
    <div class = "p-4">
        <p class = "h1 text-primary">Please buy an item to show here!!!</p>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<div class = "p-4">
    <p class = "h1 text-primary">Please purchase an item to show here. 😁</p>
</div>
{% endif %}
{% endblock %}